* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #03093a;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

html {
  background: #f5f5f5;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  width: 100%;
  background-color: black;
  position: sticky;
  z-index: 1;
  top: 0%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 60px;
}

header .container h1 {
  font-size: large;
  font-size: 30px;
  font-style: normal;
  color: #eff0f1;
  font-weight: 900;
}
header .container em {
  font-style: normal;
  color: var(--main-color);
  font-weight: 900;
}
header .links {
  position: relative;
}

header .links .icons {
  display: flex;
  width: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header .links .icons span {
  background-color: rgb(255, 251, 251);
  margin-bottom: 5px;
  height: 3px;
}

header .links .icons span:first-child {
  width: 100%;
}
header .links .icons span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
header .links .icons span:last-child {
  width: 100%;
}

header .links:hover .icons span:nth-child(2) {
  width: 100%;
}

header .links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  background-color: rgb(209, 205, 205);
  min-width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

/* header .links:hover ul{
      display: block;
  } */
header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(209, 205, 205) transparent;
  position: absolute;
  right: 0px;
  top: -20px;
}
header .links ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-family: sans-serif;
  padding: 15px;
  display: block;
  transition: 0.3s;
  font-size: larger;
}
header .links .showdrop {
  display: block;
}
header .links ul li a:hover {
  padding-left: 25px;
}

header .links ul li:not(:last-child) a {
  border-bottom: rgb(184, 175, 175);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 5px;
}
header .links .showdrop {
  display: block;
}

/* form */

.form-container {
  width: 600px;
  max-width: 100%;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 15px;
  border-radius: 7px;
  background: white;
}

h2.heading {
  text-align: center;
  font-family: sans-serif;
  font-size: 34px;
  margin: 10px 0;
}

.errors {
  color: darkred;
  margin: 10px 0;
  padding: 5px;
}
.success {
  color: teal;
}

.form-container input,
select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #9e9ea0;
  margin: 7px 2px;
  background: white;
  border-radius: 7px;
}

input:focus,
select:focus {
  outline: 0;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.2);
}

.form-container button {
  font-size: 16px;
  padding: 7px 15px;
  border: 0;
  background: teal;
  color: #f5f5f5;
  border-radius: 7px;
  cursor: pointer;
}

.form-container button:focus {
  outline: 0;
}

.dynamicAddInput {
  margin: 3px 0;
}

.newInput {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.newInput input {
  width: 90%;
}
.newInput .del {
  font-size: 16px;
  padding: 7px !important;
  height: fit-content;
  border: 0;
  background: darkred;
  color: #f5f5f5;
  font-weight: bolder;
}

.inlineInputs {
  display: flex;
  flex: wrap;
  /* justify-content: space-around; */
  align-items: center;
}
.inlineInputs div {
  flex: 1;
  margin: 0 2px;
}

/* date picker */
